.title {
  color: rgb(76, 171, 255);
  font-size: 45px;
  text-align: center;
}

.wrapperBtn {
  text-align: center;
}

.btnReviews {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.btnReviews:not(:last-child) {
  margin-right: 30px;
}

.wrapperStatistics {
  text-align: center;
}

.titleStatistics {
  color: rgb(76, 171, 255);
  font-size: 45px;
  font-weight: 700;
}

.listStatistics {

}

.itemStatistics {
  font-size: 25px;
}